.odInput {
  margin-bottom: 10px;
}
#odSlider {
  border: 0px;
  width: 100%;
}
#odTooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  min-height: 23px;
  padding: 5px 10px;
  font: 12px sans-serif;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1000;
}
